﻿@model CarService.Models.OrderViewModel
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/DatePicker")
@Scripts.Render("~/bundles/bootstrap")
<h2>Счет-фактура от @Model.OrderDate.Date.ToShortDateString()</h2>
<hr />
<dl class="dl-horizontal">
    <dt>

    <dt>
        @Html.DisplayNameFor(model => model.StartDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartDate)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EndDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EndDate)
    </dd>
</dl>
<hr />
<h3>Поставщик</h3>
<table class="table table-striped">
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Адрес
        </th>
        <th>
            Телефон
        </th>      
    </tr>
    <tr>
        <td>
            ООО «Happy Cars» 
        </td>
        <td>
            Адрес: Харьков, пр. Московский, 297
        </td>
        <td>
            057 754 46 11
        </td>        
    </tr>
</table>
<hr />
<h3>Получатель</h3>
<table class="table table-striped">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Наличие водительских прав
        </th>
        <th>
            Паспорт
        </th>
        <th>
            Адрес
        </th>
        <th>
            Телефон
        </th>
    </tr>
    <tr>
        <td>
           @Model.User.FirstName @Model.User.LastName @Model.User.MiddleName
        </td>
        <td>
            @if (Model.User.DriverLicense)
            {
                <p>Присутствует</p>
            }
            else
            {
                <p>Отсутствует</p>
            }
        </td>
        <td>
            @Model.User.Pasport
        </td>
        <td>
            @Model.User.Address
        </td>
        <td>
            @Model.User.MobilePhone
        </td>
    </tr>
</table>
<hr />
<h3>Информация о заказе</h3>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.Shipper.ShipperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.PricePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>            
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Car.Shipper.ShipperName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Car.Number)
        </td>
        <td>
            @Html.DisplayFor(model => model.Car.Mark)
        </td>
        <td>
            @Html.DisplayFor(model => model.Car.CarModel)
        </td>
        <td>
            @Html.DisplayFor(model => model.Car.Type)
        </td>
        <td>
            @Html.DisplayFor(model => model.Car.PricePerDay)
        </td>
        <td>
            @Html.DisplayFor(model => model.Quantity)
        </td>
        <td>
            @Html.DisplayFor(model => model.Discount)
        </td>
    </tr>
</table>
<hr />
    <h3 id="sum">Сумма: @Model.Sum грн.</h3>
