﻿@using CarService.DAL.Enums
@model IEnumerable<CarService.Models.OrderViewModel>
@using CarService.BLL.Infrastructure

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заказы</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Car.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Penalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penalty)
        </td>
        <td>
            @item.PaymentState.GetDisplayName()         
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
        <td>
            @{ string modalId = "modal-remove-" + item.OrderId; }


           
          
            @if (User.IsInRole("Admin"))
            {
                <span>
                    @Html.ActionLink("Изменить", "Edit", new {id = item.OrderId}, new { @class = "btn btn-info no_border" })
                </span>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@modalId">Удалить</button>

            <!-- Modal -->
                <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">
                                Вы уверенны, что хотите удалить?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                @Html.ActionLink("Удалить", "Delete", new { controller = "Orders", id = item.OrderId }, new { @class = "btn btn-info" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                if (item.PaymentState == OrderStatus.Booked)
                {
                    <span>
                        @Html.ActionLink("Подтвердить", "GeneratePDF", new {id = item.OrderId}, new { @class = "btn btn-info" })
                    </span>
                
               
                    <span>
                        @Html.ActionLink("Изменить", "EditForUser", new {id = item.OrderId}, new { @class = "btn btn-info" })
                    </span>

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@modalId">Удалить</button>

                     <!-- Modal -->
                    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="modal-body">
                                    Вы уверенны, что хотите удалить?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                    @Html.ActionLink("Удалить", "Delete", new { controller = "Orders", id = item.OrderId }, new { @class = "btn btn-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </td>
</tr>
}
</table>
