﻿@model CarService.Models.DateViewModel
@{
    ViewBag.Title = "ReportByDate";
    Layout = null;
}




@*<div id="chart_div"></div>*@
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/DatePicker")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript" src="https://www.google.com/jsapi">
</script>


<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {

        var options = {

            'title': 'Продажи по месяцам (доход) ',
            "vAxis": { "title": "Доход, грн", },
            "hAxis": { "title": "Месяц" },
            "legend": "none",
            //"colors": ['#B22222']
        };

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Дата');
        data.addColumn('number', 'Доход');


        $.getJSON('@Url.Action("GetCostByDate","Orders",  new {start = Model.StartYear.ToString() })', null,
            function (result) {
                if (result.Countries.length) {
                    $.each(result.Countries, function (index, r) {
                        data.addRow(

                            [r.Date, r.Cost]
                        );
                    });
                    var chart = new google.visualization.ColumnChart(
                        document.getElementById('chart_div'));

                    chart.draw(data, options);

                };
            });
    }
</script>

<script type="text/javascript">
         // Подгружаем API
         google.load('visualization', '1.0', { 'packages': ['corechart'] });

        // Устанавливаем callback
         google.setOnLoadCallback(drawChart);

        function drawChart() {

            var options = {
                'title': 'Продажи по месяцам (количество) ',
                "vAxis": { "title": "Количество"},
                "hAxis": { "title": "Месяц" },
                "legend": "none",
                //'width': 1500,
                'height': 400,
                'pieHole': 0.4,

           };

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Товар');
            data.addColumn('number', 'Стоимость');

            $.getJSON('@Url.Action("GetCostByDate","Orders",  new {start = Model.StartYear.ToString() })', null,
                                                        function (result) {
                if (result.Countries.length) {
                    $.each(result.Countries, function (index, c) {
                       data.addRow(
                           [c.Date, c.Count]
                        );
                    });
                    // Отрисовка диаграммы
                   var chart = new google.visualization.PieChart(
                                        document.getElementById('chart_div1'));
                    chart.draw(data, options);
                };
            });
        }
</script>
<div id="results">
    <H2> Отчет за @Model.StartYear год</H2>
    <div id="chart_div"></div>
    <div id="chart_div1"></div>

    <table class="table table-striped">


        <tr>
            <th>
                Месяц
            </th>
            <th>
                Количество машин
            </th>
            <th>
                Сумма
            </th>
        </tr>

        @foreach (var i in Model.Data)
        {

            <tr>
                <td>
                    @i.Date
                </td>
                <td>
                    @i.Count
                </td>
                <td>
                    @i.Cost
                </td>
            </tr>

        }

    </table>
</div>

