﻿@model CarService.Models.CarIndexViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@*<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-3">
            <div>
                <img src=@Url.Action("GameImage", new {id = Model.CarId})
                     alt="" class="img-rounded img-responsive" />
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Shipper.ShipperName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Shipper.ShipperName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Number)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Number)
                </dd>*@

                @*<dt>
                @Html.DisplayNameFor(model => model.Mark)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mark)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CarModel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CarModel)
            </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.EngineVol)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EngineVol)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.PricePerDay)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PricePerDay)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReleaseYear)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MileAge)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MileAge)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnitsInStock)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdditionalInfo)
                </dd>
            </dl>
        </div>*@
        @*<div class="col-sm-2 col-md-2">
            <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
                 alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-2 col-md-4">
            <blockquote>
                <p>Bruce Wayne</p> <small><cite title="Source Title">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com
                <br /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                <br /> <i class="glyphicon glyphicon-gift"></i> January 30, 1974
            </p>
        </div>*@
    @*</div>
</div>*@


<div class="container">
    <hr>
    <div class="row row-margin-bottom">
        <div class="col-md-5 no-padding lib-item" data-category="view">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-md-6">
                        <img class="lib-img-show" src=@Url.Action("GameImage", new {id = Model.CarId})>
                    </div>
                    <div class="col-md-6">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 no-padding lib-item" data-category="ui">
            <div class="lib-panel">
                <div class="row box-shadow">
                    @*<div class="col-md-6">
                        <img class="lib-img" src="http://lorempixel.com/850/850/?random=456">
                    </div>
                    <div class="col-md-6">
                        <div class="lib-row lib-header">
                            Example library
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                        </div>
                    </div>*@

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Shipper.ShipperName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Shipper.ShipperName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Number)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Number)
                </dd>

                @*<dt>
        @Html.DisplayNameFor(model => model.Mark)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mark)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CarModel)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CarModel)
    </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                        @*<dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>*@

                        <dt>
                            @Html.DisplayNameFor(model => model.EngineVol)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EngineVol)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.PricePerDay)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PricePerDay)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ReleaseYear)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ReleaseYear)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MileAge)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MileAge)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UnitsInStock)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UnitsInStock)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AdditionalInfo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AdditionalInfo)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    <span> @Html.ActionLink("Редактировать", "Edit", new { id = Model.CarId }, new { @class = "btn btn-info no_border" }) </span>
    <span> @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-infono_border" }, new { @class = "btn btn-info no_border" }) </span>

</p>