﻿@model CarService.Models.FilterViewModel
@{
    ViewBag.Title = "Filtered";
}
@foreach (var item in Model.Cars)
{
    <div class="col-sm-4 col-lg-4 col-md-4 padding">
        <div class="border thumbnail">
            <a href="#">
                <img height="170" src=@Url.Action("GameImage", new {id =item.CarId}) alt="">
            </a>
            <div class="caption">
                <h4 class="pull-right">@item.PricePerDay</h4>
                <h4>
                    <a href="#">@Html.ActionLink(item.Mark + " " + item.CarModel, "Details", new { id = item.CarId })</a>
                </h4>
                <p>
                    <b>Тип кузова</b> @item.Type
                </p>
                <p>
                    <b>Oбъем двигателя</b> @item.EngineVol
                </p>
            </div>
            <div class="ratings">
                <p class="pull-right">@item.UnitsInStock машин в наличии</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
            <div class="buttons">
                @{
                    string modalId = "modal-remove-" + item.CarId;
                }

                @if (User.IsInRole("User"))
                {
                    if (!item.Check)
                    {
                        <span> @Html.ActionLink("Заказать", "Buy", new { controller = "Orders", id = item.CarId }, new { @class = "btn btn-info" })</span>
                    }
                    else
                    {
                        <span> Вы уже заказали этот автомобиль </span>
                    }
                }
                @if (User.IsInRole("Admin"))
                {
                    <span>@Html.ActionLink("Редактировать", "Edit", new { controller = "Cars", id = item.CarId }, new { @class = "btn btn-info" }) </span>

                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@modalId">Удалить</button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel"></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Вы уверенны, что хотите удалить?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                                        @Html.ActionLink("Удалить", "Delete", new { controller = "Cars", id = item.CarId }, new { @class = "btn btn-info" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                }
            </div>
        </div>
    </div>
                    }