﻿@model IEnumerable<CarService.Models.CarIndexViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Shipper.ShipperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineVol)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MileAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageBytes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgMimeType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shipper.ShipperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineVol)
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MileAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageBytes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgMimeType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CarId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CarId }) |
                @Html.ActionLink("Delete", "Delete", new {id = item.CarId}) |
                @Html.ActionLink("Buy", "Buy", new {controller = "Orders", id = item.CarId})
            </td>
        </tr>
    }

</table>*@
<div class="row">
    <div class="col-md-3">

     

                @*@using (Ajax.BeginForm("Games", "Games", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "GET" }, new { id = "filterForm" }))
                        {

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <br />
                            <button type="button" class="btn btn-info full-button blue no_border" data-toggle="collapse" data-target="#demo">@Resource.Genres</button>
                            <div id="demo" class="collapse">

                                @for (var i = 0; i < Model.Genres.Count(); i++)
                                {
                                    <div>
                                        <input type="checkbox" name="GenresList" id=@Model.Genres[i].Name value=@Model.Genres[i].Name checked=@Model.Genres[i].Checked>
                                        @Html.Label(@Model.Genres[i].Name)
                                    </div>
                                }
                            </div>

                            <br />
                            <button type="button" class="btn btn-info full-button blue no_border " data-toggle="collapse" data-target="#demo1">@Resource.PlatformTypes</button>
                            <div id="demo1" class="collapse">

                                @for (var i = 0; i < Model.Platforms.Count(); i++)
                                {
                                    <div>
                                        <input type="checkbox" name="PlatformsList" id=@Model.Platforms[i].Name value=@Model.Platforms[i].Name checked=@Model.Platforms[i].Checked>
                                        @Html.Label(@Model.Platforms[i].Name)
                                    </div>
                                }
                            </div>
                            <br />

                            <button type="button" class="btn btn-info full-button blue no_border" data-toggle="collapse" data-target="#demo2">@Resource.Publishers</button>
                            <div id="demo2" class="collapse">
                                <br />
                                @for (var i = 0; i < Model.Publishers.Count(); i++)
                                {
                                    <div>
                                        <input type="checkbox" name="PublishersList" id=@Model.Publishers[i].Name value=@Model.Publishers[i].Name checked=@Model.Publishers[i].Checked>
                                        @if (Model.Publishers[i].Name.Contains("Formaggi") || Model.Publishers[i].Name.Contains("Pasta"))
                                        {
                                            @Html.Label(@Model.Publishers[i].Name.Split(' ')[0])
                                        }
                                        else
                                        {
                                            @Html.Label(@Model.Publishers[i].Name)
                                        }
                                    </div>
                                }
                            </div>
                            <br />
                            <button type="button" class="btn btn-info full-button blue no_border" data-toggle="collapse" data-target="#demo3">@Resource.Filter</button>
                            <div id="demo3" class="collapse" style="text-align: center">
                                <div>
                                    @Html.LabelFor(model => model.SortType)
                                    @Html.DropDownListFor(model => model.SortType, this.Model.SortType.ToSelectList(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SortType, string.Empty, new { @class = "text-danger" })
                                </div>

                                <div>
                                    @Html.LabelFor(model => model.MinPrice)
                                    @Html.TextBoxFor(model => model.MinPrice, new { @class = "form-control", type = "number" })
                                    @Html.ValidationMessageFor(model => model.MinPrice, string.Empty, new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.LabelFor(model => model.MaxPrice)
                                    @Html.TextBoxFor(model => model.MaxPrice, new { @class = "form-control", type = "number" })
                                    @Html.ValidationMessageFor(model => model.MaxPrice, string.Empty, new { @class = "text-danger" })
                                </div>

                                <div>
                                    @Html.LabelFor(model => model.PeriodType)
                                    @Html.DropDownListFor(model => model.PeriodType, Model.PeriodType.ToSelectList(), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PeriodType, string.Empty, new { @class = "text-danger" })
                                </div>

                                <div>
                                    @Html.LabelFor(model => model.SearchString)
                                    @Html.TextBoxFor(model => model.SearchString, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SearchString, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <p>

                            </p>

                            <p>

                            </p>
                            <div class="buttons">
                                <input type="button" value=@Resource.Filter class="btn btn-info orange no_border filterButton" onclick="return filtering(1)" />
                            </div>
                        }
                    </div>*@
            </div>
         
            <div class="col-md-9">
                <div class="row">
                    <div id="results">

                        @foreach (var item in Model)
                        {
                            <div class="col-sm-4 col-lg-4 col-md-4 padding">
                                <div class="border thumbnail">
                                    <a href="#">
                                        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                                    </a>
                                    <div class="caption">
                                        <h4 class="pull-right">@item.PricePerDay</h4>
                                        <h4>
                                            <a href="#">@Html.ActionLink(item.Mark + item.CarModel, "Details", new {id = item.CarId})</a>
                                        </h4>
                                        <p>
                                            @item.EngineVol
                                        </p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right">@item.UnitsInStock reviews</p>
                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </p>
                                    </div>
                                    <div class="buttons">
                                        @{ string modalId = "modal-remove-" + item.CarId; }


                                        <span> @Html.ActionLink("Buy", "Buy", new {controller = "Orders", id = item.CarId}, new {@class = "btn btn-info"})</span>

                                        <span>@Html.ActionLink("Edit", "Edit", new {controller = "Cars", id = item.CarId}, new {@class = "btn btn-info"}) </span>

                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@modalId">Delete</button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">Warning</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        @Html.ActionLink("Delete", "Delete", new {controller = "Cars", id = item.CarId}, new {@class = "btn btn-info"})
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


