﻿@model CarService.Models.FilterViewModel
@using CarService.DAL.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div clas="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <h2>Автопарк</h2>
       @if (User.IsInRole("Admin"))
       {
           <p>
               <span>@Html.ActionLink("Добавить", "Create", null, new {@class = "btn btn-info no_border"}) </span>
           </p>
       }
    </div>
</div>
<div class="row">
<div class="col-md-3">
    <div class="form-horizontal">
        <div class="row columns">
            @using (Ajax.BeginForm("Games", "Games", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "POST" }, new { id = "filterForm" }))
            {


                @Html.HiddenFor(model => model.License)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <br />
                <button type="button" class="btn btn-info full-button no_border " data-toggle="collapse" data-target="#demo">Марки автомобилей</button>
                <div id="demo" class="collapse">

                    @for (var i = 0; i < Model.Marks.Count(); i++)
                    {
                        <div>
                            <input type="checkbox" name="MarkList" id=@Model.Marks[i].Name value=@Model.Marks[i].Name checked=@Model.Marks[i].Checked>
                            @Html.Label(@Model.Marks[i].Name)
                        </div>
                    }
                </div>

                <br />

                <button type="button" class="btn btn-info full-button no_border " data-toggle="collapse" data-target="#demo3">Цены и модели</button>
                <div id="demo3" class="collapse" style="text-align: center">


                    <div>
                        @Html.LabelFor(model => model.MinPrice)
                        @Html.TextBoxFor(model => model.MinPrice, new { @class = "form-control", type = "number" })
                        @Html.ValidationMessageFor(model => model.MinPrice, string.Empty, new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.MaxPrice)
                        @Html.TextBoxFor(model => model.MaxPrice, new { @class = "form-control", type = "number" })
                        @Html.ValidationMessageFor(model => model.MaxPrice, string.Empty, new { @class = "text-danger" })
                    </div>

                    <div>
                        @Html.LabelFor(model => model.SearchString)
                        @Html.TextBoxFor(model => model.SearchString, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SearchString, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <p>

                </p>

                <p>

                </p>
                <div class="buttons">
                    <input type="submit" value="Поиск" class="btn btn-info no_border filterButton" />
                </div>
            }
        </div>
    </div>
</div>

        <div class="col-md-9">
            <div class="row">
                <div id="results">

                    @foreach (var item in Model.Cars)
                    {
                        <div class="col-sm-4 col-lg-4 col-md-4 padding">
                            <div class="border thumbnail">
                                <a href="#">
                                    <img  class="GamePic" src=@Url.Action("GameImage", new {id =item.CarId}) alt="">
                                </a>
                                <div class="caption">
                                    <h4 class="pull-right">@item.PricePerDay</h4>
                                    <h4>
                                        <a href="#">@Html.ActionLink(item.Mark + " " +item.CarModel, "Details", new { id = item.CarId })</a>
                                    </h4>
                                    <p>
                                        <b>Тип кузова</b> @item.Type
                                    </p>
                                    <p>
                                        <b>Oбъем двигателя</b> @item.EngineVol
                                    </p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">@item.UnitsInStock машин в наличии</p>
                                    <p>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </p>
                                </div>
                                <div class="buttons">
                                    @{
                                        string modalId = "modal-remove-" + item.CarId;
                                    }

                                    @if (User.IsInRole("User") && Model.License)
                                    {
                                        if (!item.Check)
                                        {
                                            <span> @Html.ActionLink("Заказать", "Buy", new {controller = "Orders", id = item.CarId}, new {@class = "btn btn-info no_border" })</span>
                                        }
                                        else
                                        {
                                            <span> Вы уже заказали этот автомобиль </span>
                                        }
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <span>@Html.ActionLink("Редактировать", "Edit", new {controller = "Cars", id = item.CarId}, new {@class = "btn btn-info  no_border" }) </span>

                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@modalId">Удалить</button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel"></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Вы уверенны, что хотите удалить?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                                        @Html.ActionLink("Удалить", "Delete", new {controller = "Cars", id = item.CarId}, new { @class = "btn btn-info no_border" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                                        }
                </div>
            </div>
        </div>
    </div>

